/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

input, textarea, keygen, select, button {
font-size: 12px

}

body {
    background-color: #efefef;
}
ul,
li {
    list-style-type: none;
    list-style-position: outside;
}
a {
    text-decoration: none;
}
a:visited {
    color: #666;
}

img {
    color: #fff;
}

section {
    float: left;
}
.pag {
    position: absolute;
    top: 0;
    /*background-color: #aaa;*/
    /
}

.draggable { 
    height: 100%;
    width: 10px;
    top:0px !important;
    background-color: red;
    z-index: 30;

     }


.loopstart {
  position: absolute;
  line-height: 60px;

  overflow: visible;
}

.loopend {
  position: absolute;
  line-height: 60px;
  right: 0;
  top:0px;
  text-align: right;
  overflow: visible;
}

.draggable .pointer {
  height: 65px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  top:-50px;
}

.loopend .pointer {
  height: 65px;
  width: 1px;
  background-color: #fff;
position: absolute;
right: 0;
top:-50px;
}

.dragcontainer{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    height: 15px;
    width: 100%; 
    position: relative;
}

.smallimg {
    /*border: 1px solid blue;*/
    position: relative;
    width: 200px;
    height: 50px;
}


.imgcontainer{
    /*border: 1px solid yellow;*/
    position: relative;
    height: 50px;
    z-index: 0;
    width: 100%; 
}

.imgwindow {
    display: none;
    border: 1px solid red;
    height: 30px;
    width: 90px;
}
/*.imgwindow {
    border: 1px solid white;
    height: 10px;
    width: 10%;
    background-color: red;
}*/

.imgpointer{
    color:white;
    z-index: 1000;
}

.smallimg.true {
    width: 100px;
}

.miniimg {
    border: 1px solid green;
    width: 200px;
    height: 25px;
}

.result {
    display: block;
    width: 200px;
    float: left;
    margin: 5px;
    position: relative;
}

.info {
    font-size: 10px;
    height: 20px;
    display: block;
}

.smalltext {
        font-size: 10px;

}

.credits {
    position: relative;
    display: block;
    margin:5px 0;
    font-size: 10px;
    width: 100%;

}

#recList h5 {
    font-weight: normal;
    margin: 5px;
}


#list {
    width: calc(100% - 250px);
    height: 100%;
    overflow: scroll;
}

#ch #list {
   width: calc(100% - 500px);
    height: 100%;
    overflow: scroll;
}

#playlist {
    width: 220px;
    background-color: #fff;
    
}

.players {
}



#menu {
    width: 100%;
    height: 0px;
    z-index: 50;
    position: absolute;
}
#menu ul {
    width: 200px;
}
.fx {
    overflow: hidden;
    position: relative;
}
.fx .zoom {
    z-index: 10;
    position: absolute;
    top: 0;
    height: 100%;
}

.clear {
    clear: both;
}

#zoom1 {
    right: 0;
}
#zoom2 {
    left: 0;
}
.menu nav {}

.menu {
    width: 100%;
    position: relative;
    margin-left: 5px;
    z-index: 100px;
}



.menu select {
    margin-top: 5px;
}

#menu li {
    background-color: #fff;
    display: block;
    border: 1px solid #aaa;
    z-index: 50;
}

#menu li:hover {
    background-color: #666;
}

#menupar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    z-index: 50;
    width: 100%;
    margin: 0;
    padding-left:5px;
}

#menuimpar {
    position: absolute;
    top: 0px;
    right: 5px;
    margin-right: 0px;
    z-index: 50;
}

.busca {
    height: 25px;
    width: 100px;
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 5px;
}

.buttons {
margin-bottom: 5px;
 position: fixed;
 padding-left: 5px; 
 z-index: 10;
 background-color: #fff;
 width: 195px; 
 outline: 1px solid black; 
}




.buttons img {
width: 24px;
    height: 24px;
}



.menu .buttons {
    margin-top: 5px;
    z-index: 50;
    position: relative;
    top:-1px;
    width: 120px;
    display: inline;
}
.menu button {
    padding: 0px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    margin-top: 5px;
    text-align: center;
    position: relative;
    top: 2px;
    font-size: 15px;
    
}

.buttons button:hover {
    background-color: #666;
    color: #fff;
    border-color: black;
}


button span.glyphicon {
    position: relative;
    top: 0px;
    
}



/*range http://danielstern.ca/range.css/#/*/




/*seek range*/

input[type=range].seekrange {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
  position: absolute;
  z-index: 30;
}
input[type=range].seekrange:focus {
  outline: none;
}
input[type=range].seekrange::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].seekrange::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 50px;
  width: 5px;
  border-radius: 0px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].seekrange:focus::-webkit-slider-runnable-track {
  background: transparent;
}
input[type=range].seekrange::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].seekrange::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 50px;
  width: 2px;
  border-radius: 0px;
  background: #ee0000;
  cursor: pointer;
}
input[type=range].seekrange::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-color: transparent;
  color: transparent;
}
input[type=range].seekrange::-ms-fill-lower {
  background: transparent;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].seekrange::-ms-fill-upper {
  background: transparent;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].seekrange::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 50px;
  width: 2px;
  border-radius: 0px;
  background: #ee0000;
  cursor: pointer;
  height: 30px;
}
input[type=range].seekrange:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range].seekrange:focus::-ms-fill-upper {
  background: transparent;
}




#slider {
    width: 27px;
    height: 100%;
    background-color:transparent;
    position: absolute;
    left: 50%;
    z-index: 600;
    cursor: ew-resize;
}

#slider:hover {
    border-left: 1px solid black;
}



#slider .control {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    line-height: 25px;
    bottom: 0px;
}

/* slider interface */


input[type=range] {
  -webkit-appearance: none;
  margin: 5.5px 0;
  z-index: 10;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2pt;
  cursor: pointer;
  background: #fff;
  border: 0pt solid #fff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #ff0000;
  height: 15px;
  width: 10px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #000000;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #ff0000;
  height: 15px;
  width: 10px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  border: 1px solid #ff0000;
  height: 15px;
  width: 10px;
  border-radius: 0px;
  background: #ff0000;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}




/* player */


#chat {
  width: 200px;
  padding-top: 5px;
    overflow: hidden;
    float: left;
    margin: 0;
    position: relative;
    background-color: #fff;
}


#audios {
    background-color: #fff;
    margin-top: 0px;
    padding-left: 5px;
    height: 100%;
    overflow: scroll;
    /*display: flex;
    flex-direction: column-reverse;*/
}



.player {
    width: 200px;
    padding-top: 5px;
    overflow: hidden;
    float: left;
    margin: 0;
    position: relative;
    background-color: #000;
}

.player .smalltext {
    color: #fff;
}

.player .audiodata {
    position: relative;
    display: block;
    top:0px;
    color: #fff;
    z-index: 10;
    width: 180px;
    overflow: hidden;
    margin-top: 5px;
}

#audios img {
pointer-events: none;
-webkit-user-drag: none;
z-index: 1;
}

.volctr {
    position: relative;
    width: 70px;
    width: 100%;
    z-index: 10;

}

.volctr span{
    position: relative;
    top: 2px;
}

.speedctr {
    position: relative;
    width: 100%;  
    z-index: 10;
}


.seekctr {
    position: relative;
    width: 70px;
    z-index: 10;
}




.player .fa {
    z-index: 10;
}

.loopbtn {
    position: relative;
    color: #fff;
}

.removebtn {
    position: relative;
    color: #fff;
    z-index: 40;
}

.playbtn {
    position: relative;
    color: #fff;
    z-index: 40;
}

.disabled {
    color: #f00;
}

.queue {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 30;
}

.download {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
    z-index: 30;
}


/* about */

#about {
    display: block;
    background: #fff;
    position: absolute;
    top: 10px;
    right: -17px;
    padding: 5px 10px;
    transform: rotate(270deg);
}

#about .credits {
    position: absolute;
    display: none;
    top: -110px;
    right: -70px;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    transform: rotate(90deg);
}

#about:hover .credits {
    display: block;
}


/* cellphone version  */
@media screen and (max-width: 600px) {

    section {
        width: 50%;
        height: 100%;
        overflow: auto;
    }

    .busca {
      width: 100%;
    }


    .fa {
      font-size: 25px;
      margin-right: 5px;
    }

    .player {
      width: 100%;
    }

    #playlist {
        width: 50%;
        background-color: #000;
    }

    audio {
        width: 100%;
    }

    #audios {
      padding-left: 0;
      background-color: #000;
    }

    #list {
        width: 50%;
    }

    #ch {
      width: 300%;
    }

    #ch #chat {
      width: 30%;
    }

    #ch  #list {
        width: 30%;
    }

    #ch #playlist {
      width: 30%;
    }

.result {
    display: block;
    width: calc(100% - 10px);
    float: left;
    margin: 5px;
    position: relative;
}

    .smallimg {
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

    .info {
        height: auto;
    }

    input[type=range] {
  -webkit-appearance: none;
  margin: 12px 0;
  z-index: 10;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2pt;
  cursor: pointer;
  background: #fff;
  border: 0pt solid #fff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #ff0000;
  height: 25px;
  width: 15px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #000000;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #ff0000;
  height: 25px;
  width: 15px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  border: 1px solid #ff0000;
  height: 25px;
  width: 15px;
  border-radius: 0px;
  background: #ff0000;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}



}

/* recorder */
#recList a {
    font-size: 10px;
    color: #000;
    
}


#sources {
    font-size: 6pt;
}

/*chat*/

/* Fix user-agent */

/** {
  box-sizing: border-box;
}*/

/*html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}*/

/*html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}*/

/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/*ul {
  list-style: none;
  word-wrap: break-word;
}*/

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #fff;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: left;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #000;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  top: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}




