<div class="player" id="sound{{''+audiodata.playerid}}" ng-switch on="audiodata.newsound">



<!--<input class="loopbtn" type="checkbox" ng-model="loop">-->
<a class="removebtn fa fa-times" ng-class="" ng-click="removethis()"></a>


<a class="playbtn fa fa-play" ng-click="playsound()" ng-hide="isPlaying" ng-class="" ></a>
<a class="playbtn fa fa-pause" ng-click="playsound()" ng-hide="!isPlaying" ng-class="" ></a>
<a class="playbtn fa fa-stop" ng-class="" ng-click="stopsound()"></a>


<a class="loopbtn fa fa-rotate-right" ng-class="{'disabled': loop.booleanValue}" ng-click="loop.booleanValue = !loop.booleanValue"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="fa fa-download download" href="{{freesound.url}}" target="_new" alt="open on freesound"></a>


<p class="smalltext volctr">
	<input type="range" min="0" value="{{sound.volume}}" max="1" step="any" id="vol-{{audiodata.playerid}}" ng-model="soundvolume" ng-change="setvolume(soundvolume)"></input> <span>vol: {{soundvolume | number: 2}} </span> </p>

<p class="smalltext speedctr">
	<input type="range" min="0.1" value="1" max="4" step="any" id="speed-{{audiodata.playerid}}" ng-model="soundspeed" ng-change="setspeed(soundspeed)"></input><span> Xtime: {{soundspeed | number: 2}} </span>  </p>



<!--<div id="{{containerid}}" class="dragcontainer" >

	 this works now 
	<div drag-me id="{{windowid}}" class="draggable ui-widget-content smalltext">
	<p>< ></p>

	<div class="smalltext imgpointer"></div>

	</div>
</div>-->
	<span class="smalltext audiodata">{{seekpos | sectime | date:'mm:ss'}} | {{freesound.duration | sectime | date:'mm:ss'}} | {{freesound.name}} </span>


<input type="range" min="0" value="{{sound.currentTime}}" max="{{freesound.duration}}" step="any" id="slider-{{audiodata.playerid}}" ng-model="seekpos" ng-change="setseek(seekpos)" class="seekrange"></input>
<div id="img{{containerid}}" class="imgcontainer" >
	

	

	<img class="smallimg" id="img{{freesound.id}}" ng-src="{{freesound.images['spectral_m']}}" style="opacity:{{soundvolume / 2 + 0.5}};z-index:1" ondragstart="return false;" draggable="false"/>
</div>

<!-- <div id="draggable" class="ui-widget-content smalltext">
  <p>Drag</p>
</div> -->

<!-- <div id="imgwindow2" class="draggable ui-widget-content smalltext">
  <p>Drag</p>
</div> -->


<div id="audio{{audiodata.playerid}}"></div>

</div>
